DirectoryIndex index.php index.html
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /pinnaclegaming/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pinnaclegaming/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Директивы (строки) между `BEGIN Simply Static` и `END Simply Static`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<Files "F:\xampp\htdocs\pinnacleGaming/wp-content/uploads\simply-static\210391fb78d343ca2a9283009a4533ac-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static